In [4]:
#Dependencies
import pandas as pd
import numpy as np
import requests
import json

In [59]:
#Arlington County real estate data
construction_data = "DevelopmentProjectApprovedAndUnderConstruction.csv"
construction_df = pd.read_csv(construction_data)
real_estate_data = "Real_Estate_Sale_History.csv"
realestate_sales_df = pd.read_csv(real_estate_data)
realestate_sales_df.head()

/Users/michaeldurst/anaconda/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,propertyKey,realEstatePropertyCode,provalLrsnId,neighborhoodNbr,propertyStreetNbrNameText,salesTypeCode,salesTypeDsc,deedBookNbr,deedPageNbr,granteeName,saleAmt,saleDate,salesHistoryKey,landRecordDocumentNbr
0,12378,11033026,16635,501023,6026 22nd ST N,NaN,NaN,NaN,NaN,MR PROJECT MANAGEMENT INC,625000,2017-10-31T00:00:00,60018,2.01701E+13
1,47699,11011110,63858,272002,2200 N WESTMORELAND ST 412,NaN,NaN,NaN,NaN,IVY ROBERT &,582000,2017-10-31T00:00:00,241675,2.01701E+13
2,35500,29008332,47468,283017,2874 S ABINGDON ST B2,NaN,NaN,NaN,NaN,WOODARD BENJAMIN LOGAN,248000,2017-10-31T00:00:00,176350,2.01701E+13
3,35338,29007626,47253,283017,4834 28th ST S B2,NaN,NaN,NaN,NaN,LAZCANO CARMEN G &,260000,2017-10-30T00:00:00,175509,2.01701E+13
4,61262,23039085,40338,181108,3911 9th RD S,NaN,NaN,NaN,NaN,CANTER LESLIE A &,440000,2017-10-30T00:00:00,148644,2.01701E+13

In [91]:
#only want dups

realestate_sales_amt = realestate_sales_df[realestate_sales_df.saleAmt > 0]
realestate_sales_dups = realestate_sales_amt[realestate_sales_amt.duplicated(['propertyKey'])]
realestate_sales_dups.sort_values(["propertyKey"], inplace=True)
realestate_sales_dups.reset_index(inplace=True)
realestate_sales_dups.drop(['index'], axis=1, inplace=True)

/Users/michaeldurst/anaconda/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/michaeldurst/anaconda/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [87]:
# Make a column for zip codes

realestate_sales_dups["ZipCode"] = ""
realestate_sales_dups.head()

/Users/michaeldurst/anaconda/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,propertyKey,realEstatePropertyCode,provalLrsnId,neighborhoodNbr,propertyStreetNbrNameText,salesTypeCode,salesTypeDsc,deedBookNbr,deedPageNbr,granteeName,saleAmt,saleDate,salesHistoryKey,landRecordDocumentNbr,ZipCode
0,1,1001006,133,501001,N ROCHESTER ST,4,"4-Multiple RPCs, Not A Coded S",4209,2117.0,THEODORE JOSE,2038000,2008-08-12T00:00:00,7,NaN,
1,1,1001006,133,501001,N ROCHESTER ST,4,"4-Multiple RPCs, Not A Coded S",4110,257.0,PENCE GREGORY A & LIZA M,675000,2007-06-20T00:00:00,6,NaN,
2,2,1001007,134,501001,3007 N ROCHESTER ST,L,L-Land Sale,4380,2145.0,STARBUCK REALTY LLC,649000,2010-07-28T00:00:00,11,NaN,
3,8,1001015,142,501001,3534 N SOMERSET ST,4,"4-Multiple RPCs, Not A Coded S",4209,2117.0,THEODORE JOSE,2038000,2008-08-12T00:00:00,48,NaN,
4,8,1001015,142,501001,3534 N SOMERSET ST,4,"4-Multiple RPCs, Not A Coded S",4110,257.0,PENCE GREGORY A & LIZA M,675000,2007-06-20T00:00:00,47,NaN,

In [20]:
# Make column for zip codes
construction_df["ZipCode"] = ""
construction_df.head()

,developmentProjectName,developmentProjectAddressText,statusDsc,officeSquareFeetQty,retailSquareFeetQty,otherSquareFeetQty,residentialUnitCnt,hotelRoomCnt,sitePlanDate,underConstructionDate,...,zoningTypeDsc,developerName,siteSquareFeetQty,houseTypeDsc,heightFeetQty,storiesCnt,parkingSpaceCnt,latitudeCrd,longitudeCrd,ZipCode
0,Rosslyn Plaza PDSP,1001 WILSON BVLD,Approved (Not Under Construction),1810173,45000,0,550,200,2016-03-12T00:00:00,NaN,...,C-O-ROSSLYN,NaN,333219.0,Highrise (4+ stories),390.0,NaN,2168.0,38.894735,-77.068760,
1,1023 N Danville St,1023 N DANVILLE ST,Under Construction,0,0,0,1,0,NaN,2017-08-02T00:00:00,...,"One-Family, Restricted Two Family Dwelling Distr",NaN,NaN,Single-family detached house,NaN,NaN,NaN,38.885417,-77.089677,
2,1023 S Queen St,1023 S QUEEN ST,Under Construction,0,0,0,1,0,NaN,2015-10-12T00:00:00,...,"One-Family, Restricted Two Family Dwelling Distr",NaN,NaN,Single-family detached house,NaN,NaN,NaN,38.864632,-77.073677,
3,106 N Garfield St,106 N GARFIELD ST,Under Construction,0,0,0,1,0,NaN,2017-03-24T00:00:00,...,One-Family Dwelling District,NaN,NaN,Single-family detached house,NaN,NaN,NaN,38.875020,-77.091999,
4,1100 N Roosevelt St,1100 N ROOSEVELT ST,Under Construction,0,0,0,1,0,NaN,2015-10-05T00:00:00,...,One-Family Dwelling District,NaN,6300.0,Single-family detached house,NaN,NaN,NaN,38.879774,-77.154439,

In [57]:
# key
gkey = "AIzaSyAv-mK0yyv8mjksIlJBDQMIyFHS78jmtxo"

In [85]:
# Loop through sales history and convert adresses to zip codes
for index, row in realestate_sales_dups.iterrows():
    target_url = "https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (row["propertyStreetNbrNameText"]+"Arlington,"+"VA",gkey)
    sales_lats_longs = requests.get(target_url).json()
    if sales_lats_longs['results'][0]['address_components'][-1]['types']==["postal_code"]:
        realestate_sales_dups.set_value(index, "ZipCode", sales_lats_longs['results'][0]['address_components'][-1]['long_name'])
    elif sales_lats_longs['results'][0]['address_components'][-2]['types']==["postal_code"]:
        realestate_sales_dups.set_value(index, "ZipCode", sales_lats_longs['results'][0]['address_components'][-2]['long_name'])
    else:
        realestate_sales_dups.set_value(index, "ZipCode", 'NaN')

IndexError: list index out of range

In [86]:
#confirm zips are in 
realestate_sales_dups.head()

,propertyKey,realEstatePropertyCode,provalLrsnId,neighborhoodNbr,propertyStreetNbrNameText,salesTypeCode,salesTypeDsc,deedBookNbr,deedPageNbr,granteeName,saleAmt,saleDate,salesHistoryKey,landRecordDocumentNbr,ZipCode
0,1,1001006,133,501001,N ROCHESTER ST,4,"4-Multiple RPCs, Not A Coded S",4209,2117.0,THEODORE JOSE,2038000,2008-08-12T00:00:00,7,NaN,22205
1,1,1001006,133,501001,N ROCHESTER ST,4,"4-Multiple RPCs, Not A Coded S",4110,257.0,PENCE GREGORY A & LIZA M,675000,2007-06-20T00:00:00,6,NaN,22205
2,2,1001007,134,501001,3007 N ROCHESTER ST,L,L-Land Sale,4380,2145.0,STARBUCK REALTY LLC,649000,2010-07-28T00:00:00,11,NaN,22213
3,8,1001015,142,501001,3534 N SOMERSET ST,4,"4-Multiple RPCs, Not A Coded S",4209,2117.0,THEODORE JOSE,2038000,2008-08-12T00:00:00,48,NaN,22213
4,8,1001015,142,501001,3534 N SOMERSET ST,4,"4-Multiple RPCs, Not A Coded S",4110,257.0,PENCE GREGORY A & LIZA M,675000,2007-06-20T00:00:00,47,NaN,22213

In [56]:
# Loop through the construction_df and convert lat and longs to zip codes
for index, row in construction_df[2500:].iterrows():
    target_url = "https://maps.googleapis.com/maps/api/geocode/json?latlng=%s,%s&key=%s" % (row["latitudeCrd"],row["longitudeCrd"], gkey)
    construction_postalcodes = requests.get(target_url).json()
    if dataframs['zip code']==NaN:
        if construction_postalcodes['results'][0]['address_components'][-1]['types']==["postal_code"]:
            construction_df.set_value(index, "ZipCode", construction_postalcodes['results'][0]['address_components'][-1]['long_name'])
        elif construction_postalcodes['results'][0]['address_components'][-2]['types']==["postal_code"]:
            construction_df.set_value(index, "ZipCode", construction_postalcodes['results'][0]['address_components'][-2]['long_name'])
        else:
            construction_df.set_value(index, "ZipCode", 'NaN')
        
# Visualize to confirm zips appear
construction_df.head()

,developmentProjectName,developmentProjectAddressText,statusDsc,officeSquareFeetQty,retailSquareFeetQty,otherSquareFeetQty,residentialUnitCnt,hotelRoomCnt,sitePlanDate,underConstructionDate,...,zoningTypeDsc,developerName,siteSquareFeetQty,houseTypeDsc,heightFeetQty,storiesCnt,parkingSpaceCnt,latitudeCrd,longitudeCrd,ZipCode
0,Rosslyn Plaza PDSP,1001 WILSON BVLD,Approved (Not Under Construction),1810173,45000,0,550,200,2016-03-12T00:00:00,NaN,...,C-O-ROSSLYN,NaN,333219.0,Highrise (4+ stories),390.0,NaN,2168.0,38.894735,-77.068760,22209
1,1023 N Danville St,1023 N DANVILLE ST,Under Construction,0,0,0,1,0,NaN,2017-08-02T00:00:00,...,"One-Family, Restricted Two Family Dwelling Distr",NaN,NaN,Single-family detached house,NaN,NaN,NaN,38.885417,-77.089677,22201
2,1023 S Queen St,1023 S QUEEN ST,Under Construction,0,0,0,1,0,NaN,2015-10-12T00:00:00,...,"One-Family, Restricted Two Family Dwelling Distr",NaN,NaN,Single-family detached house,NaN,NaN,NaN,38.864632,-77.073677,22204
3,106 N Garfield St,106 N GARFIELD ST,Under Construction,0,0,0,1,0,NaN,2017-03-24T00:00:00,...,One-Family Dwelling District,NaN,NaN,Single-family detached house,NaN,NaN,NaN,38.875020,-77.091999,22201
4,1100 N Roosevelt St,1100 N ROOSEVELT ST,Under Construction,0,0,0,1,0,NaN,2015-10-05T00:00:00,...,One-Family Dwelling District,NaN,6300.0,Single-family detached house,NaN,NaN,NaN,38.879774,-77.154439,22205

In [45]:
target_url = "https://maps.googleapis.com/maps/api/geocode/json?latlng=38.885417,-77.089677&key=AIzaSyAv-mK0yyv8mjksIlJBDQMIyFHS78jmtxo"

In [46]:
construction_postalcodes = requests.get(target_url).json()

In [55]:
construction_postalcodes['results'][0]['address_components'][-2]['types']==["postal_code"]

True